{% extends 'layout.html'%}

{% block content%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Mecanica de Materiales</h1>
      <p class="lead">   Aqui puedes encontrar los links de los cogidos para que puedas resolver tus ejercicios</p>
      <p class='lead'>  A continuacion comparto el link con el cogido de los ejemplos</p>
      <p class='lead'>Link: </p>
      <a href="https://repl.it/repls/MadSnivelingSystems#main.py">
        CODIGO_COMPLETO
      </a>
      <p></p>
      <p class='lead'>    Columnas</p>
      <p class='lead'>     Link: </p>
      <a href="https://repl.it/@6AlexC9/CodigoColumnas">
        CODIGO_COLUMNAS
      </a>
      <p></p>
      <p class='lead'>    Deformaciones</p>
      <p class='lead'>     Link: </p>
      <a href="https://repl.it/@6AlexC9/Deformaciones">
        CODIGO_DEFORMACIONES
      </a>
      <p></p>
      <p class='lead'>    Esfuerzos</p>
      <p class='lead'>     Link: </p>
      <a href="https://repl.it/repls/MagnificentPrestigiousAddin">
        CODIGO_ESFUERZOS_CILINDRO
      </a>
      <p></p>
      <a href="https://repl.it/@6AlexC9/EsfuerzoEsfera">
        CODIGO_ESFUERZOS_ESFERA
      </a>
      <p></p>
    </div>
  </div>
{% endblock %}