{% extends 'layout.html'%}
{% block content%}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Mecanica de Materiales</h1>
      <hr class="my-4">
      <center><p class="lead">Columnas</p></center>
    </div>
  </div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Introducción</h1>
      <hr class="my-4">
      <p class='lead' style="text-align: justify;">• Una columna es un miembro
      relativamente largo, cargado a
      compresión.
      </p>
      <p class='lead' style="text-align: justify;">• El análisis de columnas es
      diferente porque el modo de
      falla es diferente, cuando se
      analizó el esfuerzo de
      compresión, se supuso que el
      miembro fallaba por fluencia
      del material cuando se
      aplicaba un esfuerzo mayor
      que la resistencia a la fluencia
      del material. </p>
      <p class='lead' style="text-align: justify;">• Una columna es un miembro
      relativamente largo, cargado a
      compresión.
      </p>
      <center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQgxlTdEnvtvO6QbBYn0tiBkcw-INp4MHcuPw&usqp=CAU" width="250px"  >
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQbtC0Lx7tNj5s7ffDGJBbWlJohXghZxi54eQ&usqp=CAU" width="300px"  ></center>
      <p>
      </p>
      <p class='lead' style="text-align: justify;">• Una columna alta esbelta falla
      por pandeo, nombre común que
      recibe la inestabilidad elástica. </p>
      <p class='lead' style="text-align: justify;">• En lugar de aplastar o
        desmembrar el material, la
        columna se deflexiona de
        manera drástica a una cierta
        carga crítica y luego se
        desploma repentinamente. </p>
      <p class='lead' style="text-align: justify;">• Al irse incrementando la fuerza
        de manera gradual, aplicada
        directamente hacia abajo, se
        alcanza la carga crítica cuando
        la columna comienza a
        flexionarse. </p>
        <center><img src="https://mat.caminos.upm.es/w/images/6/6b/Columna1.JPG" width="250px"></center>
      </div>
</div>
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Razón De Esbeltez</h1>
          <hr class="my-4">
          <p class='lead' style="text-align: justify;">• La medida de la esbeltez de
            una columna ha de tener en
            cuenta la longitud, el perfil de
            la sección transversal, las
            dimensiones de la misma y la
            manera de sujetar sus
            extremos en las estructuras
            que generan las cargas y las
            reacciones. </p>
          <p class='lead' style="text-align: justify;">• La medida de esbeltez
            comúnmente utilizada es la
            razón de esbeltez, definida
            como: </p>
            <center><p>SR=KL/r</p></center>
            <center><p>SR=Le/r</p></center>
            <p>Donde:</p>
            <p>L = longitud real de la
              columna entre los puntos de
              apoyo o de restricción
              lateral.</p>
            <p>K = factor de fijación de los
              extremos.</p>
            <p>Le
              = longitud efectiva,
              teniendo en cuenta la
              manera de fijar los extremos.
              (observe que Le
              = KL)</p>
            <p>r = radio de giro mínimo de
              la sección transversal de la
              columna.</p>
        </div>
</div>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Longitud Real, L</h1>
            <hr class="my-4">
            <p class='lead' style="text-align: justify;">• En una columna simple con la
              carga aplicada en un extremo y la reacción creada en el otro, la longitud real es,
              obviamente, la longitud entre sus extremos. </p>
            <p class='lead' style="text-align: justify;">• Pero en componentes de
              estructuras cargados a
              compresión que disponen de
              medios de sujeción laterales
              que impiden que se pandee, la
              longitud real se considera
              entre los puntos de restricción. </p>
          </div>
</div>

<div>
   <div class="jumbotron jumbotron-fluid">
     <div class="container">
      <h1 class="display-4">Factor De Fijación De Los
      Extremos,K</h1>
     <hr class="my-4">
     <p class='lead' style="text-align: justify;">• El factor de fijación de los extremos mide el grado de limitación
      contra rotación de cada extremo. </p>
     <p class='lead' style="text-align: justify;">• Por lo general, se consideran tres tipos clásicos de conexiones de
      extremos: el extremo de pasador, el extremo fijo y el extremo libre. 
     </p>
      <center><img src="https://3.bp.blogspot.com/-cXjPks1Gza8/U4y1WCCjcXI/AAAAAAAAAGI/jdgZn0ovWnA/s1600/la+foto+4+(3).PNG" width="600px"></center>
 <p>
 </p>
  <p class='lead' style="text-align: justify;">• Las columnas con extremos fijos son mucho más rígidas
    que las columnas con extremos de pasador y, por
    consiguiente, son capaces de soportar cargas mayores
    antes de pandearse.
   </p>
   <p class='lead' style="text-align: justify;">• Se debe entender que es muy difícil fijar los extremos de
    una columna a la perfección.
   </p>
   <p class='lead' style="text-align: justify;">• Se requiere que la conexión a la columna sea rígida y
    firme y que la estructura a la que se transfieren las
    cargas también sea rígida y firme. 
   </p>
  </div>
</div>

<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
     <h1 class="display-4">Longitud Efectiva, Le</h1>
    <hr class="my-4">
    <p class='lead' style="text-align: justify;">• La medida de esbeltez de la sección transversal de
      la columna es su radio de giro, r, definida como: </p>

    <p class='lead' style="text-align: justify;">• Para calcular la longitud efectiva se usarán los valores
      prácticos recomendados del factor de fijación de
      extremos, quedando las siguientes relaciones:
      <p>– C. con extremos de pasador: Le = KL = 1.0 (L) = L</p>  
      <p>– C. con extremos fijos: Le = KL = 0.65 (L)</p>     
      <p>– C. con un extremo fijo y el otro libre: Le = KL = 2.10 (L)</p>
      <p>– C. con un extremo fijo y el otro de pasador: Le = KL = 0.80 (L)</p>
    </p>
 </div>
</div>

<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
     <h1 class="display-4">Radio De Giro, r</h1>
    <hr class="my-4">
    <p class='lead' style="text-align: justify;">• La longitud efectiva combina la longitud real con el
      factor de fijación de extremos; Le
      = KL.
       </p>
       <center><img src="https://a01373312bernardolazcanoestatica.weebly.com/uploads/2/5/8/8/25881574/1416881401.png" width="300px" ></center>
      <p>– I = momento de inercia de la sección transversal de la
        columna con respecto a uno de los ejes principales.</p>  
      <p>– A = área de la sección transversal.</p>     

    </p>
 </div>
</div>

<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
     <h1 class="display-4">¿Cuándo Se Considera Larga o Corta
      Una Columna? </h1>
    <hr class="my-4">
    <p class='lead' style="text-align: justify;">• Si la razón de esbeltez efectiva real Le/r es mayor
      que Cc, entonces la columna es larga, y al analizar la
      columna se debe usar la fórmula de Euler.
       </p>
       <p>Fórmula De Euler Para Columnas
        Largas</p>
        <p style="text-align: justify;">• Para columnas largas cuya razón de esbeltez es mayor
          que el valor de transición Cc, se puede usar la fórmula
          de Euler para predecir la carga crítica con la que la
          columna comenzaría a pandearse. La fórmula es:
          </p>
           <center><img src="https://2.bp.blogspot.com/-ftCrmNjTyOE/UuEZ_uB_XfI/AAAAAAAAYj4/-ruZZwAeiTY/s1600/Gr%C3%A1fica_Ing_Mecanica_1.jpg" width="150px"></center>
       <p class='lead' style="text-align: justify;">• Si la razón real, Le/r es menor que Cc, entonces la
        columna es corta, en este caso, se debe usar la
        fórmula de J. B. Johnson.
         </p>
         <p>Fórmula de  J.
          B. Johnson para Columnas Cortas</p>
      <p>• Una fórmula recomendada para el diseño de máquinas
        en el intervalo de Le
        /r menor que Cc es la fórmula de J.
        B. Johnson, la fórmula es:
        </p>  
        <center><img src="https://1.bp.blogspot.com/-UWkp2EHVWcg/UuEiuliswlI/AAAAAAAAYkQ/ju70IldKBXI/s1600/Gr%C3%A1fica_Ing_Mecanica_3.jpg" width="250px"></center>    

    </p>
 </div>
</div>

<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
     <h1 class="display-4">Factores De Diseño Para
      Columnas Y Carga Permisible</h1>
    <hr class="my-4">
    <p class='lead' style="text-align: justify;">• La selección del factor de diseño es la responsabilidad
      del diseñador a menos que el proyecto figure en un
      reglamento.
       </p>
       <p class='lead' style="text-align: justify;">• Los factores a considerar en la selección de un factor de
        diseño son similares a los utilizados para determinar
        factores de diseño aplicados a esfuerzos.
         </p>
         <p class='lead' style="text-align: justify;">• Un factor común utilizado en el diseño mecánico es N=
          3.0, y la razón por la que se seleccionó este valor es la
          incertidumbre con respecto a las propiedades del
          material, la fijación de los extremos, lo recto de la
          columna o la posibilidad de que la carga se aplique con
          algo de excentricidad y no a lo largo del eje de la
          columna.
 </div>
</div>
<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
     <h1 class="display-4">Carga Máxima</h1>
    <hr class="my-4">
    <p class='lead' style="text-align: justify;">Ejemplo
      <hr class="my-4">
    <p style="text-align: justify;">Se tiene que utilizar en una maquina un miembro circular de acero AISI 1020
      estirado en frio con ambos extremos de pasador ,su diámetro de 25mm y su
      longitud de 950mm .¿Que carga máxima puede soportar el miembro antes de
      pandearse ? También calcule la carga permisible en la columna con un factor
      de diseño de N=3.(σy=441MPa ; E=207 Gpa)</p>
    <p>Datos</p>
    <p>D=25mm</p>
    <p>L=950mm</p>
    <p>N=3</p>
    <p>σy=441MPa</p>
    <p>E=207 Gpa</p>
    <p>1.- Calculo de K</p>
    <p>K=1</p>
    <p>2.-Calculo de la longitud efectiva</p>
    <p>Le=k*L</p>
    <p>Le=1*950mm</p>
    <p>Le=950mm</p>
    <p>3.- Calculo del radio minimo</p>
    <center><img src="https://a01373312bernardolazcanoestatica.weebly.com/uploads/2/5/8/8/25881574/1416881401.png" width="300px" ></center>
    <p>simplificando</p>
    <p>r=R/2</p>
    <p>r=D/4</p>
    <p>r=25/4</p>
    <p>r=6.25mm</p>
    <p>4.-Calculo del SR (razón de Esbeltez)</p>
    <p>SR=Le/r</p>
    <p>SR=950mm/6.25mm</p>
    <p>SR=152</p>
    <p>5.- Calculo de la Constante de la Columna</p>
    <center><img src="https://4.bp.blogspot.com/-VrOdccIMKo4/UtAXpfWiGwI/AAAAAAAAYTk/2K_jjuGtvT8/s1600/Gr%C3%A1fica_Ing_Mecanica_8.jpg" width="400px"></center>
    <p>CC=96.3</p>
    <p>6.- Cc<'SR Columna Corta </SR></p>
    <p>7.-Calculo de la carga critica</p>
    <center><img src="https://2.bp.blogspot.com/-ftCrmNjTyOE/UuEZ_uB_XfI/AAAAAAAAYj4/-ruZZwAeiTY/s1600/Gr%C3%A1fica_Ing_Mecanica_1.jpg" width="150px"></center>
    <p>Per=((pi^2)*E*A)/(SR^2)</p>
    <p>Per=((pi^2)*207*10^9*441*10^6)/(152^2)</p>
    <p>Per=43500N</p>
    <p>Calculode La carga admisible (N=3)</p>
    <p>Pa=Per/N</p>
    <p>Pa=43500/3</p>
    <p>Pa=14500N</p>
    <p></p>
    <p>Pudes comprobar el resultado en:</p>
    <a href="https://repl.it/@6AlexC9/CodigoColumnas">
      CODIGO_COLUMNAS
 </div>
</div>
{% endblock %}